{% extends "base.html" %}

{% block title %}Om Lisbeth{% endblock %}

{% block body %}

<div class="meg to-kolonner-oss">
    <div class="kolonne">
        <h1>Litt om Lisbeth</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisl a scelerisque tempor. 
            Praesent risus tortor, elementum eu sodales non, pulvinar ut mi. Suspendisse quam mauris, imperdiet et ex vitae, auctor varius mi. 
            Morbi non elit a nunc sodales efficitur. Donec enim magna, dignissim eu leo sed, placerat rutrum est. 
            Nullam vel magna facilisis nisi accumsan pretium. Etiam elementum egestas enim, nec semper turpis cursus sit amet. 
            Aenean vitae consequat tortor, et tristique ante.</p>
    </div>
    <div class="kolonne">
        <img src="static/images/lisbeth.avif">
    </div>
</div>

{% endblock %}
