{% extends "base.html" %}

{% block title %}Om oss{% endblock %}

{% block body %}

<div class="to-kolonner-oss">
    <div class="sofie">
        <h1>Sofie</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisl a scelerisque tempor. 
            Praesent risus tortor, elementum eu sodales non, pulvinar ut mi. Suspendisse quam mauris, imperdiet et ex vitae, auctor varius mi. </p>
        <br>
        <a href="{{ '/sofie' }}"><img src="static/images/sofie.jpeg"></a>
    </div>
    <div class="paulina">
        <h1>Paulina</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisl a scelerisque tempor. 
            Praesent risus tortor, elementum eu sodales non, pulvinar ut mi. Suspendisse quam mauris, imperdiet et ex vitae, auctor varius mi. </p>
        <br>
        <a href="{{ '/paulina' }}"><img src="static/images/paulina.jpeg"></a>
    </div>
</div>
<div class="to-kolonner-oss">
    <div class="anette">
        <h1>Anette</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisl a scelerisque tempor. 
            Praesent risus tortor, elementum eu sodales non, pulvinar ut mi. Suspendisse quam mauris, imperdiet et ex vitae, auctor varius mi. </p>
        <br>
        <a href="{{ '/anette' }}"><img src="static/images/anette.jpeg"></a>
    </div>
    <div class="lisbeth">
        <h1>Lisbeth</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisl a scelerisque tempor. 
            Praesent risus tortor, elementum eu sodales non, pulvinar ut mi. Suspendisse quam mauris, imperdiet et ex vitae, auctor varius mi. </p>
        <br>
        <a href="{{ '/lisbeth' }}"><img src="static/images/lisbeth.avif"></a>
    </div>
</div>

{% endblock %}
